apiVersion: v1
kind: Service
metadata: 
  name: lb-svc
  namespace: portfolio
  labels:
    app: portfolio
spec:
  type: LoadBalancer
  selector:
    app: portfolio
  ports:
    - port: 80        # Service port
      targetPort: 80  # Container port

