apiVersion: v1
kind: Service
metadata:
  name: portfolio-service
  namespace: portfolio
  labels:
    app: portfolio
spec:
  type: NodePort
  selector:
    app: portfolio   # must match pod/deployment label
  ports:
    - port: 80        # service port
      targetPort: 80  # container port
      nodePort: 30001 # external access port (range: 30000-32767)
